.Pokedex {
  text-align: center;
}

.Pokedex-title {
  color: darkgray;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokecard {
  background-color: lightgray;
  margin-top: 50px;
  border-radius: 20px;
}

.Pokecard-name {
  color: blue;
}

.Pokecard-image {
  width: 300px;
  height: 300px;
}
